* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}
  
.container {
    height: 100%;
    background: yellow;
}

.header {
    height: 100%;
    background: red;
}

.projets {
    height: auto;
    background: green;
}


.recommendations {
    height: auto;
    background: blue;
}


/* @media only screen and (max-width: 1024px) {
    .header {
        height: 800px;
    }
} */