/* couleur : 00909e */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #fff;
}
::-webkit-scrollbar-track{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #c6c6c6;
  border: 1px solid #000000;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #e0e0e0;
  border: 1px solid #333333;
}
::-webkit-scrollbar-thumb:active{
  background-color: #c6c6c6;
  border: 1px solid #000000;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
section.scroll {
  position: relative;
  width: 100%;
  height: 100%;
}
section.scroll#start h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 78px/1 'Comfortaa', cursive;
  text-align: center;
  white-space: nowrap;
text-shadow: 1px 0px 1px #0E121E, 0px 1px 1px #07060A, 2px 1px 1px #0E121E, 1px 2px 1px #07060A, 3px 2px 1px #0E121E, 2px 3px 1px #07060A, 4px 3px 1px #0E121E, 3px 4px 1px #07060A, 5px 4px 1px #0E121E, 4px 5px 1px #07060A, 6px 5px 1px #0E121E, 5px 6px 1px #07060A, 7px 6px 1px #0E121E;
}
section.scroll#start p {
    position: relative;
    top: 60%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 28px/1 'Comfortaa', cursive;
    text-align: center;
    padding-top: 35px;
}

#start a {
  padding-top: 60px;
}
#start a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#start a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/* Boutons de navigation entre les sections/slides */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
  background: white;
}

#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.fp-controlArrow.fp-next {
  margin-right: 4%;
}
.fp-controlArrow.fp-prev {
  margin-left: 4%;
}

#start{
  background: url(../images/background-computer-center.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#presentation{
  background: -webkit-gradient(linear, top left, bottom left, from(#5C697A), to(#010101));
  background: -webkit-linear-gradient(#5C697A, #010101);
  background: linear-gradient(#5C697A,#010101);
}
#projets{
  background: url(../images/background-earth.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer{
  background: url(../images/background-space-2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#presentation p {
  text-align: center;
  width: 90%;
  padding-left: 5%;
}

.scroll#presentation div.border {
  display: contents;
  border: 5px double #FFFFFF;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 50px 20px 50px 20px;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

.scroll#presentation div.competences {
  overflow-y: scroll;
  position: absolute;
  margin-left: 60px;
  width: 35%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%;
  height: 37.5em;
}

.scroll#presentation div.experiences {
  overflow-y: scroll;
  height: 38em;
  float: right;
  width: 50%;
  margin-right: 60px;
}

.scroll#presentation h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #fff;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424;
}

.scroll#presentation h2 {
  color: #fff;
  margin-top: -12px;
  margin-bottom: 6px;
  text-shadow: 3px 2px 3px #121212, 3px 3px 3px #121212, 3px 4px 3px #121212;
}

.scroll#presentation .experiences p {
  color: #c6c6c6;
  font-weight: bold;
}

.scroll#presentation div.job {
  padding: 10px 10px 10px 10px;
}

.scroll#presentation hr {
  height: 30px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px 0 0 0;
  margin-top: 30px;
}
.scroll#presentation hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -32px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.scroll#presentation #skill hr {
  width: 140%;
  margin: 0 -20% 0 -20%;
}

.scroll#projets .projet {
  display: inline-block;
	width: 250px;
  height: 250px;
  margin: 1.5% -4% 1.5% 14%;
  overflow: hidden;
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #fff;
  border-radius: 20px;
}

.scroll#projets .projet span {
  display: inline-block;
  color: #000;
  margin-top: 77%;
  transition: all 1.4s ease;
  font-family: 'Comfortaa', cursive;
}

.scroll#projets .projet:hover span,
.scroll#projets .projet:focus span {
  margin-top: 0%;
  transition: all 0.8s ease;
  padding: 5% 5% 5% 5%;
  background-color: rgba(250, 250, 250, 0.8);
}

.scroll#projets .projet span.titre {
  text-transform: uppercase;
  background-color: #E6E2DF;
  width: 100%;
  text-align: center;
  padding: 8% 5% 8% 0;
}

.scroll#projets .projet span.description {
  height: 100%;
}

.scroll#footer div.slide h1{
  font-size: 20px;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}

.scroll#footer div.slide h2{
  font-size: 20px;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  text-align: right;
  width: 60%;
  margin-left: 20%;
}

.scroll #bottom {
  height: 200px;
  background-color: #fff;
  bottom: 0;
  font-family: 'Comfortaa', cursive;
}