#container {

	width: 812px;

	margin: 0 auto;

	}

.fondu {

	position: relative;

	height:0;

	width: 0;

	}

.fondu {

	position: relative;

	height:0;

	width: 0;

	}

.fondu img {

	position: absolute;

	}

.image {

	float: left;

	padding: 7px 0 7px 8px;

	}